<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h4>Saludos Cordiales</h4>

        <br />

        {Notificar}

        <br />

        <h2>Adjunto notificación de <span style="color:red">DEMANDA</span>, de la deuda en mora que se encuentra en cartera castigada</h2>

        <br />

        <h4>Atentamente,</h4>

        <br /><br />

        <span style="font-family:Arial;font-weight:bold;font-size:10pt;color:navy">
            {Pie1}
            <br />
            {Pie2}
            <br /><br />
            <img src=cid:myImageID>
            <br /><br />
            {Pie3}
            <br />
            {Pie4}
        </span>
    </div>
</body>
</html>